$colors: (
    "text-title": #0250C9,
    "text-subtitle": #333333,
    "text-author-name": #272727,
    "background-image": #BCD6FF,
    "line-separator": #CCCCCC,
);

$fontSize: (
    "title": 3.2rem,
    "title-phone": 2rem,
    "subtitle": 1.6rem,
    "author": 1.4rem,
    "subscription": 1.2rem,
);

$fontWeight: (
    "regular": 400,
    "bold": 700,
);

$fontFamily: (
    "serif": "Georgia",
    "sans-serif": "Arial",
);