<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <title>La Nacion</title>
</head>

<body>

    <main>
        <div class="card-render-regular">
            <article class="card-regular">
                <a href="#">
                    <div class="card-regular__image"></div>
                </a>
                <div class="card-regular__body">
                    <h3 class="body__title"><em>Lead.</em> Title esto es un titulo de la novedad con unas cuantas lineas
                        que
                        ocupar</h3>
                    <h5 class="body__author">Author / Marquee</h5>
                </div>
            </article>
        </div>

        <div class="card-render-regular">
            <article class="card-regular card-regular-wider">
                <a href="#">
                    <div class="card-regular__image"></div>
                </a>
                <div class="card-regular__body">
                    <h3 class="body__title"><em>Lead.</em> Title esto es un titulo de la novedad con unas cuantas lineas
                        que
                        ocupar</h3>
                    <h5 class="body__author">Author / Marquee</h5>
                </div>
            </article>
        </div>

        <div class="card-render-body">
            <article class="card-regular card-body">
                <a href="#">
                    <div class="card-regular__image card-body__image"></div>
                </a>
                <div class="card-regular__body">
                    <div class="body__icon"><span><img src="../assets/Icon Color Container.png"
                                alt="La Nacion Icon"></span> Exclusivo suscriptor</div>
                    <h3 class="body__title"><em>Lead.</em> Title esto es un titulo de la novedad con unas cuantas lineas
                        que
                        ocupar</h3>
                    <h4 class="body__subtitle">Subhead. Lana soñaba con volar a la luna. Todas las tardes se tumbaba en
                        su
                        cama y se imaginaba cómo
                        sería su viaje a
                        bordo de su propia nave espacial.</h4>
                    <h5 class="body__author">
                        <div class="body__author-img"></div> Author / Marquee
                    </h5>
                </div>
            </article>
        </div>

        <div class="card-render-author">
            <article class="card-author">
                <div class="card-regular__body">
                    <h3 class="body__title"><em>Lead.</em> Title cuando se dieron cuenta, los dos hermanos estaban
                        preparándose para alunizar.</h3>
                    <div class="card-author__image-rounded"></div>
                    <h5 class="body__author">Author full name</h5>
                    <div class="separator"></div>
                </div>
            </article>
        </div>
    </main>




    <section class="right-focal">
        <div class="card-render-body">
            <article class="card-regular card-body">
                <a href="#">
                    <div class="card-regular__image card-body__image"></div>
                </a>
                <div class="card-regular__body">
                    <div class="body__icon"><span><img src="../assets/Icon Color Container.png"
                                alt="La Nacion Icon"></span> Exclusivo
                        suscriptor</div>
                    <h3 class="body__title"><em>Lead.</em> Title esto es un titulo de la novedad con unas cuantas lineas
                        que
                        ocupar</h3>
                    <h4 class="body__subtitle">Subhead. Lana soñaba con volar a la luna. Todas las tardes se tumbaba en
                        su
                        cama y se imaginaba cómo
                        sería su viaje a
                        bordo de su propia nave espacial.</h4>
                    <h5 class="body__author">
                        <div class="body__author-img"></div> Author / Marquee
                    </h5>
                </div>
            </article>
        </div>
        <div class="separator-line"></div>
        <div class="card-render-regular">
            <article class="card-regular card-regular-wider">
                <a href="#">
                    <div class="card-regular__image"></div>
                </a>
                <div class="card-regular__body">
                    <h3 class="body__title"><em>Lead.</em> Title esto es un titulo de la novedad con unas cuantas lineas
                        que
                        ocupar</h3>
                    <h5 class="body__author">Author / Marquee</h5>
                </div>
            </article>
        </div>
    </section>


    <section class="card-group-3">
        <div class="card-render-regular">
            <article class="card-regular">
                <a href="#">
                    <div class="card-regular__image"></div>
                </a>
                <div class="card-regular__body">
                    <h3 class="body__title"><em>Lead.</em> Title esto es un titulo de la novedad con unas cuantas lineas
                        que
                        ocupar</h3>
                    <h5 class="body__author">Author / Marquee</h5>
                </div>
            </article>
        </div>
        <div class="card-render-regular">
            <article class="card-regular">
                <a href="#">
                    <div class="card-regular__image"></div>
                </a>
                <div class="card-regular__body">
                    <h3 class="body__title"><em>Lead.</em> Title esto es un titulo de la novedad con unas cuantas lineas
                        que
                        ocupar</h3>
                    <h5 class="body__author">Author / Marquee</h5>
                </div>
            </article>
        </div>
        <div class="card-render-author">
            <article class="card-author">
                <div class="card-regular__body">
                    <div class="body__icon"><span><img src="../assets/Icon Color Container.png"
                                alt="La Nacion Icon"></span> Exclusivo
                        suscriptor</div>
                    <h3 class="body__title"><em>Lead.</em> Title cuando se dieron cuenta, los dos hermanos estaban
                        preparándose para alunizar.</h3>
                    <div class="card-author__image-rounded"></div>
                    <h5 class="body__author">Author full name</h5>
                    <div class="separator"></div>
                </div>
            </article>
        </div>
    </section>

</body>

</html>